<%= simple_form_for(@contact_info, :url => user_contacts_path, :method => :post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :primary,
                :as => :boolean,
                :label => "Set As Default",
                :label_method => :last,
                :value_method => :first,
                :boolean_style => :inline,
                :required => true
    %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :title %>
    <%= f.input :phone %>
    <%= f.input :extension %>
    <%= f.input :fax %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
