<% if current_user %>
    <div class="hide-for-small-only sub-nav-bg">
      <div class="row">
        <dl class="sub-nav columns small-12">
          <dd>
            <%= link_to new_listing_path do %>

                <!-- Prefix 'New Listing' with Font Awesome plus-sign icon -->
                New Listing
                <%= content_tag(:i, "", :class => "fa fa-plus") %>
            <% end %>
          </dd>
          <dd>
            <%= link_to "View All Listings", listings_path %>
          </dd>
          <dd>
            <%= link_to "My Donations", user_donations_path(current_user) %>
          </dd>
          <dd>
            <%= link_to "My Requests", user_requests_path(current_user) %>
          </dd>
          <dd>
            <%= link_to "Watched Listings", user_watched_listings_path(current_user) %>
          </dd>
        </dl>
      </div>
    </div>
    <!-- Display small-screen menu in nav bar drop-down -->
<% end %>
