<%= render 'listings/sub_navigation' %>

<div class="tabs-content">
  <!--TAB 1: VIEW LISTINGS-->
  <div class="content active" id="listings-index">

    <div class="row">
      <!--TAB 1: VIEW LISTINGS: Check box for item categories-->
      <% if @categories && !@categories.empty? %>
        <div class="small-12 medium-3 columns panel radius" id="listing-filters">
          <h5>Filter by Item Category:</h5>
          <% i ||= 0 %>
          <%= form_tag("/listings/browse", method: "get") do %>
              <% @categories.each do |c| %>
                  <% i += 1 %>
                  <% category = c.name %>
                  <div class="inline-field">
                    <%= check_box_tag("categories[#{i}]", category, checked = @category_filters.include?(category), id: "checkbox#{i}") %>
                    <%= label_tag "checkbox#{i}", category.titleize %>
                  </div>
              <% end %>
              <%= submit_tag "Apply Filter", class: "button small primary radius " %>
          <% end %>
        </div>
      <% end %>

      <div class="small-12 <% if @categories && !@categories.empty? %>medium-9<% else %>medium-10 medium-offset-1<% end %> columns listings">
        <% if @listings.empty? %>
            <h4>No Listings to Display</h4>
        <% else %>
            <% @listings.each do |listing| %>
                <div class="row listings__listing">
                  <div class="small-4 <% if @categories && !@categories.empty? %>medium-3 medium-offset-1 <% end %>columns">
                    <figure class="listing-item">
                      <img src="<%= listing.get_show_image %>">
                    </figure>
                  </div>
                  <div class="small-8 columns">
                    <h4><%= listing.title.titleize %></h4>
                    <p><%= listing.description %></p>
                    <ul class="inline-list">
                      <li><%= link_to "See Details", listing_path(listing), :class => "view-more" %></li>
                    </ul>
                  </div>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
