<%= render 'listings/tab_navigation' %>

<div class="tabs-content">
  <div class="content active" id="listings-item">
    <div class="row">
      <div class="small-4 columns">
          <img src="<%= @listing.get_show_image %>">
      </div>
      <div class="small-8 columns">
        <h4><%= @listing.title %></h4>
        <p><%= @listing.description %></p>
        <p>Fair Market Value:
          <%= @listing.fair_market_value.to_i %> USD
        </p>
      </div>
    </div>
    <div class="row button-row">
      <div class="small-4 medium-offset-4 medium-2 column">
          <%= render 'listings/follow' %>
      </div>
      <div class="small-4 medium-3 column">
          <!-- end Watch button-->
          <% if current_user and not already_requested? %>
            <%= button_to "Request Donation", listing_donation_applications_path(:listing_id => @listing.id), :class => "button small radius", :id => "requestbutton", :method => :post %>
          <% end %>
      </div>
      <div class="small-4 medium-3 column end">
          <%= link_to "Back to Listings", session.delete(:listings_index) %>
      </div>
      <% if current_user && current_user == @listing.creator %>
      <%= render 'donation_application_trackers/show_as_creator' %>
      <% elsif current_user && (@listing.followers.include? current_user) %>
      <%= render 'donation_application_trackers/show_as_applicant' %>
      <% end %>
    </div>
  </div>
</div>
