<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
<h3>Dear
  <% if !@donor.entity_name.nil? %>
      <% unless @donor.entity_name.empty? %>
          <%= @donor.entity_name %>
      <% end %>
  <% elsif !@donor.contact_infos.nil? %>
      <% unless @donor.contact_infos.empty? %>
          <%= @donor.contact_infos.first_name %>
      <% end %>
  <% else %>
      SHARE User
  <% end %>,
</h3>
<p>You have a donation request for <%= @listing.title %>. Please log into your dashboard at
  http://sac.hare.tech and respond to this request.</p>
<blockquote>
  <%= @listing.description %>
</blockquote>

<h3>Donee Contact Information</h3>
<ul>
  <% if !@donee.entity_name.nil? %>
      <% unless @donee.entity_name.empty? %>
          <li>Entity Name: <%= @donee.entity_name %></li>
      <% end %>
  <% end %>
  <% unless @donee.contact_infos.nil? %>
      <% unless @donee.contact_infos.empty? %>
          <li>Name: <%= @donee.contact_infos.first_name %> <%= @donee.contact_infos.last_name %></li>
          <li>Phone: <%= @donee.contact_infos.phone %></li>
          <% unless @donee.contact_infos.fax.empty? %>
              <li>Fax: <%= @donee.contact_infos.fax %></li>
          <% end %>
      <% end %>
  <% end %>
  <li>Email: <%= @donee.email %></li>
</ul>
<p>Please contact
  <% unless @donee.contact_infos.nil? %>
      <% if !@donee.contact_infos.empty? %>
          <%= @donee.contact_infos.first_name %> <%= @donee.contact_infos.last_name %>,
      <% else %>
          the donee
      <% end %>
  <% end %>
  at your earliest convenience!</p>
<p>Thank You!</p>
<p>Sacramento Human Assistance Resource Exchange (SHARE)</p>
</body>
</html>
