<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
<h4>Dear
  <% if !@donor.entity_name.nil? %>
      <% unless @donor.entity_name.empty? %>
          <%= @donor.entity_name %>
      <% end %>
  <% elsif !@donor.contact_infos.nil? %>
      <% unless @donor.contact_infos.empty? %>
          <%= @donor.contact_infos.first_name %>
      <% end %>
  <% else %>
      SHARE User
  <% end %>,
</h4>
<p>You have a donation request for <%= @listing.title %>. The donee
  <% unless @donee.contact_infos.nil? %>
      <% if !@donee.contact_infos.empty? %>
          <%= @donee.contact_infos.first_name %> <%= @donee.contact_infos.last_name %>,
      <% else %>
          the donee
      <% end %>
  <% end %> has mailed the
  "Surplus Donation Application" form. You may track and update this request at
  <a href="http://sac.hare.tech">http://sac.hare.tech</a>.</p>
<p>Thank you!</p>
<p>Sacramento Human Assistance Resource Exchange (SHARE)</p>
</body>
</html>
