<p id="notice"><%= notice %></p>

<h1>Saved Addresses</h1>

<%= link_to new_user_address_path(user_id: current_user.id) do %>
    <%= content_tag(:i, "", :class => "fa fa-plus fa-lg") %>
    New Address
<% end %>
<table>
  <thead>
    <tr>
      <th>Street address 1</th>
      <th>Street address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip code</th>
      <th>Phone</th>
      <th>Fax</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.street_address_1 %></td>
        <td><%= address.street_address_2 %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.zip_code %></td>
        <td><%= address.phone %></td>
        <td><%= address.fax %></td>
        <td><%= link_to 'Show', user_address_path(id: address.id, user_id: current_user.id) %></td>
        <td><%= link_to 'Edit', edit_user_address_path(id: address.id, user_id: current_user.id) %></td>
        <td><%= link_to 'Destroy', user_address_path(id: address.id, user_id: current_user.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

