<%# add navigation links to this file %>
<ul class="right">
  <% if user_signed_in? %>
      <li><%= link_to "My Profile", user_path(current_user), :class => "" %>
      </li>
      <!-- menu items from tabs for small screens -->
      <li class="show-for-small-only">
        <%= link_to "New Listing", new_listing_path %>
      </li>
      <li class="show-for-small-only">
        <%= link_to "View All Listings", listings_path %>
      </li>
      <li class="show-for-small-only">
        <%= link_to "My Donations", user_donations_path(current_user) %>
      </li>
      <li class="show-for-small-only">
        <%= link_to "My Requests", user_requests_path(current_user) %>
      </li>
      <li class="show-for-small-only">
        <%= link_to "Watched Listings", user_watched_listings_path(current_user) %>
      </li>
      <!-- /menu items from tabs for small screens -->
      <li>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
      </li>
  <% else %>
      <li>
        <%= link_to 'Login', new_user_session_path %>
      </li>
      <li>
        <%= link_to 'Sign Up', new_user_registration_path, :class => "btn-primary" %>
      </li>
  <% end %>
</ul>
